<h3 class="sign-up-chgt">Edit <%= "Votre profile" %></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class= "form-sign-campus"><%= f.select :campus,
     ["Louvain la Neuve", "Saint Louis", "ULB"],
     include_blank: 'Choisis ton Campus' %>
   </div>
   <div class="form-inputs form-margin">
     <%= f.input :first_name, label: "Prénom"%>
     <%= f.input :last_name, label: "Nom"%>
     <%= f.input :email, autofocus: true %>

     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
     <% end %>

     <%= f.input :password, autocomplete: "off", placeholder: "Laisser blanc si vous ne voulez pas le changer", required: false %>
     <%= f.input :password_confirmation, required: false %>
     <%= f.input :current_password, placeholder: "Votre mot de passe est nécessaire pour enregistrer les changements", required: true %>
   </div>

   <div class="form-actions form-margin">
    <%= f.button :submit, "Update", class: "btn-darkgreen" %>
  </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="form-inputs form-margin">
      <div class="tip_typo"><%= " Tip: Rentre en contact avec les autres grâce au(x) moyen(s) que tu choisis !" %></div>
      <%= f.input :facebook, label: "facebook profile url"%>
      <%= f.input :whatsapp, label: "whatsapp url"%>
      <%= f.input :gsm, label: " " + "Gsm", length: {minimum: 5, maximum: 5}%>
    </div>

  <%= link_to "Back", :back, class: "edit-chgt"%>
  </div>
  <% end %>
</div>
