<h1 class="cards2-welcome">
  <% if current_user.id == @user.id %>
  <%= "Bienvenue #{@user.first_name}, Gère tes livres ici"%></h1>
  <% end %>
  <% if current_user.id != @user.id %>
  <%= "Tous le livres de #{@user.first_name} #{@user.last_name}"%></h1>
  <% end %>
<div class="">
  <div class="card2-row-margin">

    <%  @books.paginate(:page => params[:page], :per_page => 9).each do |book| %>
    <div class="col-xs-12 col-md-4">

      <div class="card2">
        <a class="text-title"><%= link_to book.title, new_user_book_request_path(@user, book) %></a>
        <div class="card2-photo">
          <%= cl_image_tag book.picture, height: 180, width: 220, crop: :fill %>
        </div>
        <div class=" ">


          <p class="text-loaction"><span class="center"><%= book.campus %></span>
            <span class="span center"><%= book.year %></span><span class="span tag2-price"><%= book.price %>€</span></p>
            <p class="text-loaction center"><span class="span">Created <%= time_ago_in_words(book.created_at) %> ago.</span></p>
            <!-- <p><%= book.description %></p> -->
            <% if user_signed_in? %>
            <% if book.user_id == current_user.id %>
            <%= link_to "delete", book_path(book), method: :delete %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="digg_pagination">
        <div class="page_info">
          <% @page_results = @books.paginate(:page => params[:page], :per_page => 9) %>
          <%= will_paginate @page_results %>
        </div>
      </div>
    </div>
  </div>
