<nav class="navbar hidden-xs navbar-default">
  <div class="navbar-header">
    <a><%=link_to "SweatDeal",root_path, class: "navbar-brand"%></a>
  </div>
  <div class="navbar-header navbar-right">
    <% if !user_signed_in?%>
    <a><%=link_to "Vends tes Livres!",new_user_registration_path, class: "navbar-brand"%></a>
    <a><%=link_to "Sign Up",  new_user_registration_path, class: "navbar-brand"%></a>
    <a><%=link_to "Log In",new_user_session_path, class: "navbar-brand"%></a>
    <a><%=link_to "Mes Livres",facebookconnect_index_path, class: "navbar-dropdown"%></a>
    <% end %>

    <% if user_signed_in?%>
    <a><%=link_to "Vends tes Livres!",new_book_path, class: "navbar-brand"%></a>
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a><%=link_to "Gérer mes demandes",dashboard_path, class: "navbar-dropdown"%></a></li>
            <li><a><%=link_to "Mes Livres",user_path(current_user.id), class: "navbar-dropdown"%></a></li>
            <li role="separator" class="divider"></li>
            <li><a><%=link_to "Edit",edit_user_registration_path(current_user), class: "navbar-dropdown"%></a></li>
          </ul>
    <a><%=link_to "Accueil",books_path, class: "navbar-brand"%></a>

    <a><%= link_to 'logout', destroy_user_session_path,class: "navbar-brand", method: :delete %></a>
    <% end %>
  </div>
</nav>
<!-- phone part -->
<nav class="navbar visible-xs navbar-default navbar-responsiv">
  <div class="navbar-header">
    <a><%=link_to "SweatDeal",root_path, class: "navbar-brand navbar-brand-resp"%></a>
    <% if user_signed_in?%>
    <a><%=link_to "Accueil",books_path, class: "navbar-brand navbar-brand-resp navbar-marg-resp"%></a>
    <a><%= link_to 'logout', destroy_user_session_path,class: "navbar-brand navbar-brand-resp navbar-marg-resp", method: :delete %></a>
    <% end %>
    <% if !user_signed_in?%>
    <a><%=link_to "Log In",new_user_session_path, class: "navbar-brand navbar-brand-resp navbar-marg-resp"%></a>
    <% end %>
  </div>
  <div class="navbar-header navbar-right">
    <% if !user_signed_in?%>
    <a><%=link_to "Vends tes Livres!",new_user_registration_path, class: "navbar-brand navbar-brand-resp"%></a>
    <a><%=link_to "Sign Up",new_user_registration_path, class: "navbar-brand navbar-brand-resp"%></a>
    <% end %>
    <% if user_signed_in?%>
    <a><%=link_to "Vends tes Livres!",new_book_path, class: "navbar-brand navbar-brand-resp"%></a>
    <a><%=link_to "ton dashboard",dashboard_path, class: "navbar-brand navbar-brand-resp"%></a>
    <% end %>
  </div>
</nav>
