<nav class="navbar hidden-xs hidden-sm navbar-default">
  <div class="navbar-header">
    <a><%=link_to "StudEbook",root_path, class: "navbar-brand"%></a>
  </div>
  <div class="navbar-header navbar-right">
    <% if !user_signed_in?%>
    <a><%=link_to "Vends tes Livres!", facebookconnect_index_path, class: "navbar-brand"%></a>
    <a><%=link_to "Sign Up",  facebookconnect_index_path, class: "navbar-brand"%></a>
    <a><%=link_to "Log In",new_user_session_path, class: "navbar-brand"%></a>
    <% end %>

    <% if user_signed_in?%>
    <a><%=link_to "Vends tes Livres!",new_book_path, class: "navbar-brand"%></a>
    <a><%=link_to "Accueil",books_path, class: "navbar-brand"%></a>
    <a><%=link_to "Mes demandes",dashboard_path, class: "navbar-brand"%></a>
    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a><%=link_to "Mes Livres",user_path(current_user.id), class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Edit",edit_user_registration_path(current_user), class: "navbar-dropdown"%></a></li>
      <li role="separator" class="divider"></li>
      <li><a><%= link_to 'logout', destroy_user_session_path,class: "navbar-dropdown", method: :delete %></a></li>
    </ul>
    <% end %>
  </div>
</nav>
<!-- phone part -->
<nav class="navbar visible-xs visible-sm navbar-default">
  <div class="navbar-header">
    <a><%=link_to "StudEbook",root_path, class: "navbar-brand"%></a>
  </div>
  <div class="navbar-right-phone">
    <% if !user_signed_in?%>
    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Sign up" %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a><%=link_to "Vends tes Livres!", facebookconnect_index_path, class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Sign Up",  facebookconnect_index_path, class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Log In",new_user_session_path, class: "navbar-dropdown"%></a></li>
    </ul>
    <% end %>

    <% if user_signed_in?%>
    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a><%=link_to "Accueil",books_path, class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Mes Livres",user_path(current_user.id), class: "navbar-dropdown"%></a></li>
      <li role="separator" class="divider"></li>
      <li><a><%=link_to "Vends tes Livres!",new_book_path, class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Mes demandes",dashboard_path, class: "navbar-dropdown"%></a></li>
      <li><a><%=link_to "Edit",edit_user_registration_path(current_user), class: "navbar-dropdown"%></a></li>
      <li><a><%= link_to 'logout', destroy_user_session_path,class: "navbar-dropdown", method: :delete %></a></li>
    </ul>
    <% end %>
  </div>
</nav>
