<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="show-1">
        <p class="show-text-title">
          <span><%= @book.title %></span>
          <span class="show-tag-price"><%= @book.price %>€</span></p>
          <p class="show-text-loaction">
            <span class="span-first"><%= @book.campus %></span>
            <span class="span"><%= @book.year %></span><span class="span">Created <%= time_ago_in_words(@book.created_at) %> ago.</span></p>
            <div class="show-left">
              <div class="img-cover"><%= cl_image_tag @book.picture, height: 350, width: 350 %></div>
              <p class="show-margin-top"><%= @book.description %></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="show-2">
            <p class="show-text-title"><%= "Dis lui que tu es interessé par son livre" %></p>
            <%= simple_form_for [@user, @book, @request] do |f| %>
            <div class="form-group">
              <%= f.input :description, maxlength: 70, required: true, label: false, placeholder: "Vous pouvez lui écrire ici "%>
            </div>
            <div class="tip_typo">
              <%= "Tip: Par quelle moyen préféres-tu fixer ton rdv?"%>
            </div>
            <% if user_signed_in? %>
            <% if current_user.facebook != "on" %>
            <div>
              <span class="span-contact">
                <%= f.check_box :facebook, {}, value=current_user.facebook%>
                <%= label_tag(:facebook, "facebook") %>
              </span>
              <% end %>
              <% if current_user.whatsapp != "on" %>
              <span class="span-contact">
                <%= f.check_box :whatsapp, {}, value=current_user.whatsapp%>
                <%= label_tag(:whatsapp, "whatsapp") %>
              </span>
              <% end %>
            </div>
            <div><% if current_user.gsm != 0 %>
              <span class="span-contact">
                <%= f.check_box :gsm, {}, value=current_user.gsm%>
                <%= label_tag(:gsm, "gsm") %>
              </span>
              <% end %>
             <% if current_user.email != "on" %>
              <span class="span-email">
                <%= f.check_box :email, {}, value=current_user.email%>
                <%= label_tag(:email, "email") %>
              </span>
              <% end %>
              </div>
              <% end %>
            <% if !user_signed_in? %>
              <div>
                <span class="span-contact">
                  <%= check_box_tag(:facebook) %>
                  <%= label_tag(:facebook, "facebook") %>
                </span>
                <span class="span-contact">
                  <%= check_box_tag(:whatsapp) %>
                  <%= label_tag(:whatsapp, "whatsapp") %>
                </span>
              </div>
              <div>
                <span class="span-contact">
                  <%= check_box_tag(:gsm) %>
                  <%= label_tag(:gsm, "gsm") %>
                </span>
                <span class="span-email">
                  <%= check_box_tag(:email) %>
                  <%= label_tag(:email, "email") %>
                </span>
              </div>
            <% end %>
            <div class="form-actions form-margin">
              <%= f.button :submit, "send", class: "btn btn-darkgreen" %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="show-2">
            <p class="show-text-title">
              <%= link_to "#{@user.first_name}", user_path(@book.user_id) %>

              <div class="tip_typo">
              <%= "Tip: Livres de #{@user.first_name} actuellement en vente ! "%>
            </div>
              <% @user_books.take(5).each do |book|%>
              <p class="color-text"><%= book.title %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
