<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="show-1">
        <p class="show-text-title">
          <span><%= @book.title %></span>
          <span class="show-tag-price"><%= @book.price %>€</span></p>
          <p class="show-text-loaction">
            <span class="span-first"><%= @book.campus %></span>
            <span class="span"><%= @book.year %></span><span class="span">Created <%= time_ago_in_words(@book.created_at) %> ago.</span></p>
            <div class="show-left">
              <div class="img-cover"><%= cl_image_tag @book.picture, height: 350, width: 350 %></div>
              <p class="show-margin-top"><%= @book.description %></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="show-2">
            <p class="show-text-title"><%= "Envoye un requete" %></p>
            <%= simple_form_for [@user, @book, @request] do |f| %>
            <div class="form-group">
              <%= f.input :description, required: true, label: false%>
            </div>
            <div class="form-actions form-margin">
    <%= f.button :submit, "send" %>
  </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="show-2">
            <p class="show-text-title">
              <span><%= @user.first_name%></span>
            </div>
          </div>
        </div>
      </div>
