<div class="homepage-content ">
  <div class="homepage-photo center-block hidden-xs" style="background-image: url('http://res.cloudinary.com/sweetdeal2016/image/upload/v1518347273/Studentsbackground_rklus4.jpg');">

    <h1 class="head-home hidden-xs">Optimise ton temps et ton argent sur StudEbook la plateforme de livres étudiants! </h1>
    <h5 class="head-home-xs visible-xs">Optimise ton temps et ton argent sur StudEbook la platforme de livres étudiants! </h5>

    <div class="row">
  <div class="col l4">
    <%= simple_form_for Book.new, url: books_path, html: { method: :get } do |f| %>
    <%= f.select :campus,
          ["Louvain la Neuve", "Saint Louis", "ULB"],
          include_blank: 'Choisis ton Campus' %>
    <%= simple_form_for Book.new, url: books_path, html: { method: :get } do |f| %>
    <%= f.select :year,
          ["1 année bac", "2 année bac", "3 année bac", "1 année master", "2 année master"],
          include_blank: "Choisis l'année" %>
    <%= f.submit "Search", class: 'btn btn-home' %>
    <% end %>
    <% end %>
  </div>
  </div>
  </div>
  <!-- phone part -->
  <div class="homepage-photo2 center-block visible-xs" style="background-image: url('http://res.cloudinary.com/sweetdeal2016/image/upload/v1518269321/dawn_u9c2xo.jpg');">
  <!-- /assets/dawn.jpg -->


    <h1 class="head-home hidden-xs">Optimise ton temps et ton argent sur SweatDeal la platforme de livres etudiants! </h1>
    <h5 class="head-home-xs visible-xs">Optimise ton temps et ton argent sur SweatDeal la platforme de livres etudiants! </h5>

    <div class="row">
  <div class="col l4">
    <%= simple_form_for Book.new, url: books_path, html: { method: :get } do |f| %>
    <%= f.select :campus,
          ["Louvain la Neuve", "Saint Louis", "ULB"],
          include_blank: 'Choisis ton Campus' %>
    <%= simple_form_for Book.new, url: books_path, html: { method: :get } do |f| %>
    <%= f.select :year,
          ["1 année bac", "2 année bac", "3 année bac", "1 année master", "2 année master"],
          include_blank: "Choisis l'année" %>
    <%= f.submit "Search", class: 'btn btn-home' %>
    <% end %>
    <% end %>
  </div>
  </div>
  </div>
</div>
