<div class="container">
  <div class="row">
    <!-- <div class="col-md-6"> -->
    <% @books.each do |book| %>
      <div class="card">
        <div class="card-left">
          <a href="http://lorempixel.com/850/850/?random=123">
             <img class="img-size" alt title src="http://lorempixel.com/850/850/?random=123" scale="0"></a>
        </div>
        <div class="card-right full">
          <a class="text-bold text-title">"<%= book.title %>"</a>
          <div class="tag-price">
            <p><%= book.price %>€</p>
          </div>
            <p class="text-loaction"><span><%= book.campus %></span>
            <span class="span"><%= book.year %></span></p>
            <p><%= book.description %></p>
        </div>
      </div>
     <% end %>

  </div>
</div>

